h1 {
	text-align: left;
	color: #7e878485;
	font-family: "Contrail One" Arial;
	margin-left: 1.66%;
	text-transform: uppercase;
}
img {
	width: 30%;
	padding: 1.66%;
	float: left;
}
img:hover {
	filter: drop-shadow(15px 5px 14px #c5c7b7);
}
#one {
	border-bottom: 2px solid #f1f1f1;
	margin-left: 1.66%;
	margin-right: 1.66%;
	width: 30%;
}



